a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(116, 116, 116);
    background-color: rgb(9, 196, 253);
    font-size: xx-large;
    float: right;
    margin: 10px 5px;
}

a:hover{
    color:rgb(0, 255, 166) ;
    font-size: 40px;
    margin: 10px 10px;
}

.firstlogo{
    background-color: red;
    width: 100%;
    height: 133px;
}

*{
    padding: 0;
    margin: 0;   
}