a {
    text-decoration: none;
    color: rgb(1, 1, 1);
    border: 1px solid rgb(116, 116, 116);
    background-color: rgb(9, 196, 253);
    font-size: xx-large;
    float: right;
    margin: 10px 5px;
}

a:hover{
    color:rgb(255, 255, 255) ;
    font-size: 40px;
    margin: 10px 10px;
}

.firstlogo{
    background-color: rgb(148, 198, 253);
    width: 100%; 
    height: 127px;
    /* position:relative; */
    /* margin: 20px; */
}

*{
    padding: 0;
    margin:0;
    background-color: rgb(172, 174, 156);
}

.Workingarea {
    margin-top: 18px;
    width: 70%;
    height: 100%;
    background-color: lightblue;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

#headingnoone{
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 20px;
}

.Workingarea, #headingnoone, img, p{
    background-color: lightblue;
}
#imges{
    background-color: lightblue;
    padding-top: 30px;
}

#logoheading{
    background-color: rgba(122, 122, 122, 000);
    font-size: xx-large;
    font-weight: bolder;
    
}

i:hover {
    color: white;
}

.father{
    width: 100%;
    height: 100%;
}